---
- name: Sync Komodo repo to docker hosts
  hosts: docker_hosts
  become: true
  gather_facts: true

  tasks:
    - name: Sync repo
      ansible.builtin.include_role:
        name: komodo_deploy
        tasks_from: sync
      tags: [sync]

- name: Deploy Komodo Core
  hosts: docker_hosts
  become: true
  gather_facts: false

  tasks:
    - name: Run Komodo core deployment
      ansible.builtin.include_role:
        name: komodo_deploy
        tasks_from: core
      when: (komodo_core | default(false)) | bool
      tags: [core]

- name: Deploy Komodo Periphery
  hosts: docker_hosts
  become: true
  gather_facts: false

  tasks:
    - name: Run Komodo periphery deployment
      ansible.builtin.include_role:
        name: komodo_deploy
        tasks_from: periphery
      tags: [periphery]