---
###############################################################################
# 1. Sync Komodo repository to all docker hosts
###############################################################################
- name: Sync Komodo repo to docker hosts
  hosts: docker_hosts
  become: true
  gather_facts: true

  roles:
    - role: komodo_deploy
      vars:
        komodo_run_core: false
        komodo_run_periphery: false


###############################################################################
# 2. Deploy Komodo Core (only hosts with komodo_core: true)
###############################################################################
- name: Deploy Komodo Core
  hosts: docker_hosts
  become: true
  gather_facts: false

  tasks:
    - name: Run Komodo core deployment
      ansible.builtin.include_role:
        name: komodo_deploy
      vars:
        komodo_run_core: true
        komodo_run_periphery: false
      when: (komodo_core | default(false)) | bool


###############################################################################
# 3. Deploy Komodo Periphery (all docker hosts)
###############################################################################
- name: Deploy Komodo Periphery
  hosts: docker_hosts
  become: true
  gather_facts: false

  roles:
    - role: komodo_deploy
      vars:
        komodo_run_core: false
        komodo_run_periphery: true
