---
- name: Baseline hardening + packages + MOTD + service prep
  hosts: managed
  become: true
  gather_facts: true

  roles:
    - users
    - ssh_hardening
    - apt_timers
    - motd_dynamic
    - role: docker_prep
      when: "'docker_hosts' in group_names"
    - role: k3s_agent_user
      when: "'k3s_hosts' in group_names"