---
- name: Install packages using apt
  hosts: all:!core_infra
  become: yes
  become_method: sudo
  vars:
    ansible_python_interpreter: /usr/bin/python3

  tasks:
    - name: Update apt package cache
      ansible.builtin.apt:
        update_cache: yes

    - name: Install vim and curl
      ansible.builtin.apt:
        name:
          - vim
          - curl
          - rsync
          - tree
        state: present
