---
- name: Basic health checks
  hosts: all:!core_infra
  become: true
  become_method: sudo
  vars:
    ansible_python_interpreter: /usr/bin/python3

  tasks:

    - name: Create eddie user with password
      ansible.builtin.user:
        name: eddie
        groups: sudo
        state: present
        shell: /bin/bash
        password: "{{ lookup('env', 'EDDIE_PASSWORD') | password_hash('sha512') }}"

    - name: Create .ssh directory for eddie
      ansible.builtin.file:
        path: /home/eddie/.ssh
        state: directory
        owner: eddie
        group: eddie
        mode: '0700'

    - name: Add SSH key to eddie's authorized_keys
      ansible.builtin.copy:
        content: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBBicLnqL0v89f4d6CQ/Q0gIIlZOnkPj7TPeLeUzu4es eddie@blackhand\n"
        dest: /home/eddie/.ssh/authorized_keys
        owner: eddie
        group: eddie
        mode: '0600'

    - name: Configure SSH to disable root login and only allow public key authentication
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
        backrefs: yes
      loop:
        - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin no' }
        - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }
      notify: Restart SSH

  handlers:
    - name: Restart SSH
      ansible.builtin.service:
        name: sshd
        state: restarted

    - name: Reboot if required
      ansible.builtin.reboot:
      when: ansible_facts['pkg_mgr'] == 'apt' and ansible_facts['needs_restarting'] == 'reboot-required'


- name: Ensure docker-agent exists on docker hosts
  hosts: docker-hosts
  become: true
  vars:
    ansible_python_interpreter: /usr/bin/python3

  tasks:
    - name: Ensure docker-agent group exists
      ansible.builtin.group:
        name: docker-agent
        gid: 1101
        state: present
        system: true
      when: "'docker-hosts' in group_names"

    - name: Ensure docker-agent user exists
      ansible.builtin.user:
        name: docker-agent
        uid: 1101
        group: docker-agent
        shell: /usr/sbin/nologin
        create_home: no
        system: true
        password: "{{ lookup('env', 'DOCKER_AGENT_PASSWORD') | password_hash('sha512') }}"
      when: "'docker-hosts' in group_names"
